
body {
    background-color: black;
}

.col-md-4 {
    border: 1px solid white;
    text-align: center;
}

.col-md-5 {
    border: 1px solid white;
    text-align: center;
}

.col-md-6 {
    /*text-align: center;
	line-height: 150px;*/
    border: 1px dashed white;
}

.title {
    font-size: 50px;
    height: 150px;
    color: red;
    font-weight: bolder;
    text-align: center;
    line-height: 150px;
}

h2 {
    color: white;
    letter-spacing: 10px;
}

h4 {
	color: white;